body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1 {
    text-align: center;
    color: #040080; 
}
h2 {
    color: #565ed3; 
}
dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
dt {
    font-weight: bold;
    color: #292929;
}
dd {
    margin: 0;
}

